// ========================================================================
// COMPONENTS/NAV-MOBILE
// ========================================================================

.c-mobile-menu {
  display: flex;
  padding-top: spacer(1);
  border-top: 1px dashed $col-red;

  &_item {
    flex: 1;
    border-left: 1px dashed $col-red;

    &:first-child {
      border-left: 0;
    }
  }

  &_link {
    height: spacer(5);
    line-height: spacer(5);
    font-size: 24px;
    color: $col-link;
  }

  @include bp(10) {
    display: none;
  }
}
