// ========================================================================
// PARTIALS/HEADER
// ========================================================================

.l-site-header {
  padding-top: spacer(2);
  text-align: center;

  &_logo {
    display: inline-block;
    width: 140px;
    margin-bottom: spacer(2);
  }
}
