// ========================================================================
// SETTINGS/COLOURS
// ========================================================================

// PAGE
$col-bg             : #f4f1ec;
$col-text           : #67655f;

$col-red            : #711d1d;
$col-green          : #55896c;
$col-yellow         : #ffb400;

// LINKS
$col-link           : $col-green;
$col-link-hover     : darken($col-green, 5);

// MISC
$col-border         : #ccc;
